.main{
  background-image: url('../images/dog.svg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4%;
}
.booking_section {
  width: 40%;
}
.booking_section p{
color: #4C4C4B;
text-align: center;
font-family: Cormorant;
font-size: 3.5rem;
font-style: normal;
margin-bottom: 10%;
}

.booking_section button{
display: flex;
width: 20vw;
height: 7vh;
padding: 15px 20px;
border-radius: 30px;
background: #E89B93;
justify-content: center;
align-items: center;
border: none;
color: white;
font-size: 0.8 rem;
margin-left: 20%;
}

@media screen and (max-width: 1000px) {
.booking_section  {
width: 30%;
margin-top: 20%;
font-size: 10px;
  }
  
.booking_section p {
font-size: 30px;
margin-bottom: 30%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
.booking_section  {
width: 30%;
font-size: 10px;
}
 
.booking_section p {
font-size: 40px;
  }
}

